.app{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/imgBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__form{
  display: flex;
  margin-bottom: 10px;
}

.search__div--img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}


.search__input{
  width: 250px;
  height: 35px;
  font-size: 1.5em;
  border: none;
  border-radius: 0.8em;
  text-align: center;
}

.bx-search-alt{
  color: black;
  font-size: 1.8em;
  cursor: pointer;
  padding: 2px;

}

